@import "tailwindcss";


@theme {
    
    --color-bgHome:white;
    --color-mainTextColor: #05073C;
    --color-secondTextColor: #ffffff;
    --color-navHover:#ffd7a8;
    --color-navActive:#ffbf77;
    --color-bgButtonOrange:#EB662B;
    --color-textGrayColor:#717171;
    --color-textWhiteColor:#ffffff;
    --color-textGrayInputs:#757575;
    --color-borderGrayInputs:#E7E6E6;
    --color-textBlack:#000000;
    --color-textFooter:#fef7f4;
    --color-bgsecondary:#f5f5f5;
  }